<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955475197628-gt7v70cd4rjq6jmnoonack4mimi3oeun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955475197628-gt7v70cd4rjq6jmnoonack4mimi3oeun</string>
	<key>API_KEY</key>
	<string>AIzaSyB7_4IlhpcPHl0VUycIS0v6gz1szqKfvqM</string>
	<key>GCM_SENDER_ID</key>
	<string>955475197628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mychat</string>
	<key>PROJECT_ID</key>
	<string>mychat-d8fe6</string>
	<key>STORAGE_BUCKET</key>
	<string>mychat-d8fe6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955475197628:ios:a2b60432107f438ce35ab9</string>
	<key>DATABASE_URL</key>
	<string>https://mychat-d8fe6.firebaseio.com</string>
</dict>
</plist>